<div class="about-me" id="about">
    <div class="container">
        <div class="row">
            <canvas id="canvas">
            </canvas>
            <div class="col-md-5"></div>
            <div class="col-md-7 title-row">
                <h1 class="about-me-title">About me</h1>
                <p>Well-organised person, problem solver. Always searching for new and exciting technologies. Fan of football, outdoor activities, TV series and video games.</p>
                <p>Interested in the entire frontend spectrum and working on ambitious projects with positive people.</p>
                <p>Started work in 2018 as an intern at <a href="https://opendatakosovo.org/" target="_blank">Open Data Kosovo</a> and got promoted shortly to the Junior Software Developer position.</p>
                <p>Worked there for a year and decided it's time for a change so I joined <a href="https://www.webtiser.com/" target="_blank">Webtiser AG</a> as Front-End Developer.</p>
                <p>Since then been working as a Front-End Developer in various projects also as a freelancer.</p>
            </div>
        </div>
    </div>
</div>
<p id="note">Click and drag or scroll inside the cube.</p>