@import "~src/assets/scss/variables";

.about-me {
    font-family: 'Livvic', sans-serif;
    min-height: 100vh;
    padding: 10% 0;
    padding-bottom: 5%;
    background-color: $background-primary-color;
    color: $white;
    .title-row {
        .about-me-title {
            margin: 0 auto;
            color: $primary-color;
            font-weight: 400;
            font-size: 60px;
            padding-bottom: 30px;
        }
    }
}

#canvas {
    position: absolute;
    left: 322px;
    top: 135vh;
    background-color: transparent;
}
#canvas:focus {
    outline: none;
}

@media (max-width: 1440px) {
    #canvas {
        left: 160px;
    }
}

@media (max-width: 1024px) {
    #canvas {
        left: 30px;
    }
}

@media (max-width: 768px) {
    #canvas {
        display: none;
    }
    .about-me {
        .title-row {
            text-align: center;
            .about-me-title {
                font-size: 45px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 600px) {
    .about-me {
        padding-top: 23%;
    }
}