@import "./fonts";

// Colors
$primary-color: #ff69b4;
$background-primary-color: #1d1d1d;
$background-secondary-color: #181818;
$background-third-color: #2b2b2b;
$white: #ffffff;
$text-color: #525f7f;
