@import url(https://fonts.googleapis.com/css?family=Livvic&display=swap);

.navbar {
    background-color: #181818 !important;
    height: 120px;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    .navbar-brand {
        .logo__image {
            width: 120px;
        }
    }
    .nav-link {
        color: #909096 !important;
        font-size: 18px;
    }
    .nav-link:hover {
        color: #08fdd8 !important;
    }
    .facebook-link {
        padding-right: 20px;
    }
    .nav-item.active {
        .nav-link {
            color: #08fdd8 !important;
        }
    }
}

@media (min-width: 992px) {
    .navbar  .navbar-links {
        padding-left: 35px;
    }
}