<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Leutrim" class="logo__image" id="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navbar-links" (click)="scroll('#home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-links" (click)="scroll('#about')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-links" (click)="scroll('#skills')">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-links" (click)="scroll('#work')">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-links" (click)="scroll('#contact')">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/leobaz123/" target="_parent"><i class="fa fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/leutrimkosumi/" target="_parent"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link facebook-link" href="https://github.com/leobaz" target="_parent"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>
  </div>
</nav>