<div class="my-work" id="work">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">My work</h1>
            <div class="gallery" id="gallery">
            <div class="gallery-item">
                <div class="content"><img src="assets/images/kontratat.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="assets/images/building-strong-communities.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="assets/images/123mobile.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="assets/images/employagility.png" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="assets/images/ctt-2.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="assets/images/oe1.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="assets/images/unterstuetze.png" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="assets/images/spartacus.png" alt=""></div>
            </div>
        </div>
        </div>
    </div>
</div>