<div class="wrapper" id="home">
    <div class="info">
        <h1 class="home-title">
            <span>Hi, I'm Leutrim Kosumi.</span>
            <span>I'm a front-end developer.</span>
          </h1>
        <div class="box-area">
            <div class="box first-side" (click)="scrollToAbout()"><span class="view-work-txt">View my work</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
            <div class="box second-side" (click)="scrollToAbout()"><span class="view-work-txt">Let's GO!</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
        </div> 
    </div>
</div>
