<section>
  <div class="header">
    <div class="header-button red"></div>
    <div class="header-button yellow"></div>
    <div class="header-button green"></div>
  </div>
  <div class="window">
    <div class="statement">
      <p>> Leutrim.currentLocation</p>
      <p class="response">"Gjilan, Kosovo"</p>
    </div>

    <div class="statement">
      <p>> Leutrim.contactInfo</p>
      <p class="response">
        ["<a href="mailto:leutrim.kosumi@hotmail.com"
          >leutrim.kosumi&#64;hotmail.com</a
        >", "<a href="https://github.com/leobaz">Github</a>", "<a
          href="https://www.linkedin.com/in/leutrimkosumi/"
          >LinkedIn</a
        >" ]
      </p>
    </div>
    <div class="statement">
      <p>> Leutrim.resume</p>
      <p class="response">
        "<a (click)="downloadResume()">leutrim-kosumi.pdf</a>"
      </p>
    </div>
    <div class="statement">
      <p>> Leutrim.interests</p>
      <p class="response">["technology", "football", "gaming", "music"]</p>
    </div>

    <div class="statement">
      <p>> Leutrim.education</p>
      <p class="response">"B.Sc. Computer Sciences - Universum College"</p>
    </div>

    <div class="statement">
      <p>> Leutrim.skills</p>
      <p class="response">
        ["Angular", "Typescript", "Javascript", "React", "Git", "RxJs", "NgRx"]
      </p>
    </div>

    <div class="statement">
      <p>> Leutrim.softSkills</p>
      <p class="response">
        ["Teamwork", "Communication", "Management", "Creativity", "Problem
        solver", "Adaptability"]
      </p>
    </div>

    <div class="statement">
      <p class="blink">></p>
    </div>
  </div>
</section>
