<div class="contact" id="contact" #contact>
    <div class="container">
        <div class="row">
            <div class="col-md-7 content-row">
                <h1 class="contact-title">Contact me</h1>
                <p>Interested in freelance projects, espacially ambitious or large projects.</p>
                <p>For any questions or inquiry feel free to contact me using the form below or any of the social medias.</p>
                <form class="contact-form">
                    <input name="email" type="email" class="contact-inputs email" placeholder="Email">
                    <br>
                    <input name="subject" type="text" class="contact-inputs subject" placeholder="Subject">
                    <br>
                    <textarea name="message" class="contact-inputs message" placeholder="Message"></textarea>
                    <br>
                    <a (click)="sendMail()" href="mailto:{{mailto}}" class="contact-button">Contact me</a>
                </form>
            </div>
            <div class="col-md-5">
                <div class="social">
                    <a href="https://www.facebook.com/leobaz123/" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
                    <a href="https://www.linkedin.com/in/leutrimkosumi/" class="link linkedin" target="_parent"><span class="fa fa-linkedin"></span></a>
                    <a href="https://github.com/leobaz" class="link github" target="_parent"><span class="fa fa-github-square"></span></a>
                  </div>
            </div>
        </div>
    </div>
</div>