@import url(https://fonts.googleapis.com/css?family=Livvic&display=swap);
.skills {
    font-family: 'Livvic', sans-serif;
    min-height: 100vh;
    padding: 10% 0;
    background-color: #1d1d1d;
    color: #ffffff;
    .title-row {
        .skills-title {
            margin: 0 auto;
            color: #08fdd8;
            font-weight: 400;
            font-size: 60px;
            padding-bottom: 30px;
        }
    }
}
#skillscanvas {
    position: absolute;
    left: 155vh;
    top: 195vh;
    background-color: transparent;
    outline: none;
}