@import "src/assets/scss/variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Livvic", sans-serif;
  background: $background-primary-color;
}
a {
  color: $primary-color !important;
}
.alertify-notifier .ajs-message {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: $white !important;
  border-color: rgba(0, 0, 0, 0.9) !important;
}
