@import url(https://fonts.googleapis.com/css?family=Livvic&display=swap);

html {scroll-behavior: smooth;}

body {
    font-family: 'Livvic', sans-serif;
    background: #1d1d1d;
}
a {
    color: #08fdd8 !important;
}